body{
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

header .logo{
	width: 	300px;
	height: 100px;
	margin: 0;
	font-style: none;
	padding: 15px 20px;
	font-weight: bold;
	color: #003C66;
 	text-shadow: 1px 1px 2px rgba(0,0,0,2);
 	font-size: 35px;

}


header{
	background: url(../imagenes/about1.jpg);
	height: 130vh;
	background-size: cover;
}

.logo a{
	text-decoration: none;
}

p{
	font-size: 20px;
}

header li{
	margin-top: 23px;
	list-style: none !important;
	margin-right: 25px;
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

}

header nav li a{
	text-decoration: none;
	color: black;
}

header	nav a:hover{
	transform: translateX(-10px);
	transition: all 0.6s;
}

.navegador{
	display: flex;
	text-align: center;
	padding-bottom: 25px;
}



h1{
	font-size: 85px;
	margin: 0;
}

h2{
	font-size: 25px;
	margin-bottom: 40px;
}


.boton{
	font-size: 14px;
	background: #5cb8ff;
	padding: 20px 50px 20px 50px;
	color: white;
	text-decoration: none;
}


.contenedor{
	max-width: 1280px;
	width: 90%;
	margin: auto;
}

/* COMIENZA SECCION SOBRE NOSOTROS */ 


h3{
	text-align: center;
	font-size: 55px;
	font-weight: normal;
}


h4{
	text-align: center;
	font-size: 35px;
	font-weight: normal;
}



.contenedor-sobrenosotros{
    text-align: center;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor-pyboton{
	width: 42%;
}

.contenedor-pyboton p{
	font-size: 18px;
}

.contenedor-porque{
	display: flex;
	justify-content: space-around;
	text-align: left;
	margin-bottom: 45px;
}

.contenedor-porque h4{
	margin: 0px;
	font-size: 20px;
}

.contenedor-porque p{
	font-size: 16px;
	line-height: 28px;
}

.porque-singular{
	width: 28%;
}

/* COMIENZA VISION A FUTURO  */

#blog{
	
	padding-bottom: 50px;
}

.contenedor-publicaciones{
	display: flex;
	justify-content: space-around;
}

.publicacion{
	width: 30%;
	/*-webkit-box-shadow: 11px 14px 5px -2px rgba(0,0,0,0.28);
-moz-box-shadow: 11px 14px 5px -2px rgba(0,0,0,0.28);
box-shadow: 11px 14px 5px -2px rgba(0,0,0,0.28);*/
padding-bottom: 20px;
}

#blog img{
	width: 100%;
}

#blog h4{
	font-size: 23px;
	margin: 0;
	padding: 20px 20px 60px 20px;
}


#blog h3{
	font-size: 50px;
}

#blog p{
	color: #5A6169;
	line-height: 24px;
	font-size: 16px;
	padding: 10px 20px 20px 20px;
	margin: 0;
}

#blog a {
	display: inline-block;
	margin-left: 20px;
}


.publicacion-segunda img{
	height: 270px;
}

/* COMIENZA SECCION PIE DE PAGINA */

#que-esperas{
	background: linear-gradient(rgba(84, 93, 220, 94), rgba(96, 171, 245, .9));
	text-align: center;
	padding: 50px 0px 50px 0px;
}

#que-esperas h3{
	font-size: 23px;
	color: #fff;
	margin-bottom: 40px;
}

#que-esperas a{
	padding: 15px 45px 15px 45px;
	transition: 1s;
	margin-bottom: 20px;
}

#que-esperas a:hover{
	color: black;
}

footer .container{
	color: #fff;
	width: 100vw;
	display: flex;
	padding: 15px;
	justify-content: space-around;
	align-items: flex-end;
	font-size: 15px;
}

footer li{
	margin: 2px;
}

footer a{
	color: white;
}

footer ul{
	text-align: left;
}


#whatsapp a{
	background: none;
	position: fixed;
	top: 85%;
	right: 1%;
}

.menu-icon{
	display: none;
}



@media (max-width: 840px){
	/*SE VA APLICAR CUANDO EL MAXIMO DE ANCHO SEA DE 840PX*/

	nav{
		position: absolute;
		top: 70px;
		left: 0px;
		background: #5cb8ff;
		width: 100%;
		display: none;
	}

	nav .navegador{
		flex-direction: column;
		display: flex;
	}

	.menu-icon{
		display: block;
		width: 25px;
	}

	.titular{
		margin-top: 300px;
	}

	h2{
		font-size: 19px;
	}

	.contenedor-sobrenosotros{
		flex-direction: column;
	}

	.contenedor-pyboton{
		width: 90%;
	}

	.contenedor-servicios{
		flex-direction: column;
	}

	.servicio {
		width: 72%;
		margin: auto;
		margin-bottom: 15px;
	}

	h3{
		font-size: 43px;
	}

	.contenedor-porque{
		flex-direction: column;
	}

	.porque-singular{
		width: 95%;
	}

	.contenedor-publicaciones{
		flex-direction: column;
	}

	.publicacion{
		width: 85%;
		margin: auto;
		margin-bottom: 40px !important;
	}

	.imagen-sobrenosotros{
		width: 90%;
	}
}

@media (max-width: 480px){
	/*SE VA APLICAR CUANDO EL MAXIMO DE ANCHO SEA DE 480PX*/

	nav{
		position: absolute;
		top: 70px;
		left: 0px;
		background: #5cb8ff;
		width: 100%;
		display: none;
	}

	header{

	}

	nav .navegador{
		flex-direction: column;
		display: flex;
	}

	.menu-icon{
		display: block;
		width: 25px;
	}

	.titular{
		margin-top: 240px;
	}

	h2{
		font-size: 19px;
	}

	.contenedor-sobrenosotros{
		flex-direction: column;
	}

	.contenedor-pyboton{
		width: 90%;
	}

	.contenedor-servicios{
		flex-direction: column;
	}

	.servicio {
		width: 72%;
		margin: auto;
		margin-bottom: 15px;
	}

	h3{
		font-size: 43px;
	}

	.contenedor-porque{
		flex-direction: column;
	}

	.porque-singular{
		width: 95%;
	}

	.contenedor-publicaciones{
		flex-direction: column;
	}

	.publicacion{
		width: 85%;
		margin: auto;
		margin-bottom: 40px !important;
	}

	.imagen-sobrenosotros{
		width: 90%;
	}
}